@charset "UTF-8";

/* CSS Document */

/*
	=====================================
	proyecto: bcgarcia 
	autor:  Brais Calvo Garcia
	fecha creacion: enero 2013
	ultima modificacion: enero 2013
	-------------------------------------
	2013 braiscalvogarcia@gmail.com 
	=====================================
*/


/* 
    ======================================
    elimino los margin y padding que pueda 
	traer por defecto cualquier navegador.
	------------
	esto no afecta una vez establezca yo 
	los margin y padding de cada capa
	======================================

*/
*{
	margin:0;
	padding:0;	
}

/* 
    ==========================================
    @font-face: propiedad de css3 con el 
	que podemos utilizar cualquier tipografia
	=========================================

*/
@font-face{
	font-family: 'alexBrush';
	font-style: normal;
   	font-weight: normal;
	src: url(../css/tipografia_alex-brush/AlexBrush-Regular-OTF.otf);
}

@font-face{
	font-family: 'flux';
	font-style: normal;
   	font-weight: normal;
	src: url(../css/tipografia_Flux/Flux_Architect_Italic.ttf);
}

@font-face{
	font-family: 'mate';
	font-style: normal;
   	font-weight: normal;
	src: url(../css/tipografia_mate/Mate-Regular.otf);
}


/* 
    ==========================================
   		DEFINICION DE TIPOGRAFIA LOGO
	=========================================

*/
.logoSup{
	
	font-family:flux;
	font-size:26px;
	color:#000;	
	display:inline;
}

.logoInf{
	
	font-family:alexBrush;	
	font-size:30px;
	color:#000;
	display:inline;
}


/* 
    ==========================================
   			FIN DEFINICION TIPOGRAFIAS
	=========================================

*/


/* 
    ======================================
    establezco el color de fondo para 
	el body, 
	======================================

*/
body{
	
	/*background-image:url(../img/bg.jpg); */
	/*background-color: #C8CEC9;  */
	background-color:#F9F9F9;
	text-align:left;
	font-weight:normal;
	
}



/* 
    ======================================
    contenedor1: situado en la parte superior
	de la pantalla, en el aparecerá el logo
	======================================

*/

div#contenedor1{
	width: 90%;
	height:550px;
	/*border: #080808 1px solid; */  
	margin-left:60px;
	/* codigo CSS que aplica sombreado
	========================================================
	
	-webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
	
	========================================================
	*/
}

div#logo{
	margin-top:500px;
	width:220px;
	height:200px;
	font-size:18px;
	display:inline;
}


div#contenido1{
	/*border:#000 1px solid; */
	margin-top:40px;
	margin-left:7%;
	width:60%;
	height:auto;
	-webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
	
}


h1{
	font-family:mate;
	color: #272727;		
	
}

.texto1{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
	font-size:14px;
	font-weight:500;
	line-height:25px;
	
}

.texto2{
	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:100;
	line-height:25px;
	color:#555;
}


/* ====================== X  ========================== X =================================== */

/* 
    ========================================
    contenedor2: situado en la parte inferior
	contiene el menu de navegacion 
	y el pie de pagina, 
	========================================

*/

div#contenedor2{
	background-color:#1C1C1C;
	width:100%;
	height:300px;
	/*border:#FFF 1px solid; */
}


/* 
    ========================================
    contenidoInf: ocupa la zona inferior de 
	la web
	========================================

*/

div#contenidoInf{
	width:90%;
	height:300px;	
	/*border:#FFF 1px solid; */
	margin-left:60px;
}

/* 
    ========================================
    listarIntemsHorizontal: Modifica la lista 
	de items para que los muestre en disposicion
	horizontal
	========================================

*/

.listarItemsHorizontal{
	display:inline;
	padding-left:5px;
	padding-right:15px;
		
}

/* 
    ========================================
    nav: contiene los links de navegacion
	========================================

*/
div#nav{
	font-family:flux;
	padding-top:20px;
	/*border:#FFF 1px solid; */
	width:600px;
	height:30px;
}


a{
	color:#FFF;	
	text-decoration:none;
	font-size:18px;
}

a:hover{
	text-decoration:none;
	font-size:24px;	
	
}

img#imgLogin{
	padding-right:20px;
	padding-left:5px;
	height:100px;
	width:130px;	
}