
html,
button,
input,
select,
textarea {
    color: black;
}

body {
	font-family:font-family: 'Oxygen', sans-serif;
	color:#ffffff;
	background-color:#000000;
}

a:link {
	text-decoration:none;
	color:orange;
}

a:hover {
	font-weight:bold;
}

a:active {
	font-weight:bold;  /*en este caso no queda marcado el link activo porque hay un único archivo index donde esta todo el contenido*/
}

a:visited {
	text-decoration:none;
	color:#ffffff;
}

#pics, #social, #pedidos, #FAQ, #info, #contacto {  /* propiedades aplicadas a todas las secciones excepto el footer */
	margin-left:20%;
	margin-right:10%;
	margin-bottom:20%;
	font-family:font-family: 'Oxygen', sans-serif;
}

#main-menu {
	position:fixed;
	background-color:#292929;
	width:13%;
    border-radius:20px;
}

ul {
	list-style-type: none;  /*elimina los bullets de los ul*/
}

#main-menu ul {
	list-style-type: none;  /*elimina los bullets de los ul*/
	padding:5%;
	margin-left:10%;
	margin-bottom:10%;
}

#main-menu #logo {
	margin-bottom:10%;
}

#main-menu #lastItem {
	margin-top:10%;
}

#pics {
	overflow: auto;	
}

#galeria img, #galeria2 img {
	float:left;
}

#galeria {
	overflow: auto;	
	border:1px solid white;
	width:60%;
} 

#galeria2 {
	overflow: auto;	
	border:1px solid white;
	width:60%;	
}


#social #twitter {
	overflow: auto;
	/*border:1px solid white;*/
	width:55%;
	float:left;
}

#social #facebook {
	overflow: auto;
	/*border:1px solid white;*/
	width:25%;
	float:rigth;
}

h1 {
	margin-top:0;
	margin-left:-7%;
	/*border:1px solid white;*/
	color:#111111;  /*color del texto de los h1 */
	text-align:center;
	height:96px;
	width:533px;
	font-weight:bold;
	font-size:4em;
	background-image:url(../img/header.png);
	background-repeat:no-repeat;
}

#footer {
	width:100%;
	height:150px;
	background-color:grey;
	color:black;
}

/*
#footer a:link, a:visited {
	text-decoration:none;
	color:#000000;
}

#footer a:hover {
	font-weight:bold;
}
*/

#FAQ span{
	font-weight:bold;
}

#FAQ div {
	
}
