body{
	font-family: 'Denk One', sans-serif;
}

form
{
 	padding:2px;
	display:block;
	margin: 20px auto;
	text-align:right;
}

legend
{
   font-weight: bold;
   font-size:13px;
}

label
{
   display: block;
   padding:2px;
   margin:10px 0 0 10px;
   cursor:pointer;
   font-size: 12px;
}

input, select 
{
   margin: 0 0 0 10px ;
   font-size: 12px;
   display: block;
}

textarea
{
   margin: 0 10px 10px 10px;
}
fieldset
{
	cursor:pointer;
	display:block;
	width:350px;
	margin: 0 auto;
	text-align:left;
}